	<script src="/media/js/jquery-1.11.0.js"></script>

	<script type="text/javascript" src="collections_js/dataStore.js"></script>
	<script type="text/javascript" src="collections_js/dataStore_GRIDMET.js"></script>
	<script type="text/javascript" src="collections_js/dataStore_CFSR.js"></script>
	<script type="text/javascript" src="collections_js/dataStore_CHIRPS.js"></script>
	<script type="text/javascript" src="collections_js/dataStore_LANDSAT_TOA.js"></script>
	<script type="text/javascript" src="collections_js/dataStore_LANDSAT_SR.js"></script>
	<script type="text/javascript" src="collections_js/dataStore_MODIS.js"></script>
	<script type="text/javascript" src="collections_js/dataStore_MACA.js"></script>
	<script type="text/javascript" src="collections_js/dataStore_NASANEX.js"></script>
	<script type="text/javascript" src="collections_js/dataStore_PFV52.js"></script>
	<script type="text/javascript" src="collections_js/set_scales.js"></script>
	<script type="text/javascript" src="collections_js/set_forms.js"></script>
	<script type="text/javascript" src="collections_js/set_forms_climatedata.js"></script>
	<script type="text/javascript" src="collections_js/set_climoYears.js"></script>

	<script src="/media/js/bootstrap.min.js"></script>

	<script src="/media/js/numeric-1.2.6.min.js"></script>

    <!--
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    -->

    <script src="/media/js/OLD/highcharts.js"></script>
    <script src="/media/js/OLD/exporting.js"></script>
    <script src="/media/js/export-csv.js"></script>

    <!--
    <script src="/media/js/highcharts.js"></script>
    <script src="/media/js/exporting.js"></script>
    <script src="/media/js/export-csv.js"></script>
    -->
    <!--<script src="https://rawgithub.com/laff/technical-indicators/master/technical-indicators.src.js"></script>-->

	<script src="/media/js/technical-indicators.src.js"></script>
	<script src="/media/js/highcharts-more.js"></script>
	<script src="/media/myjs/legend_drag.js"></script>
	<script src="/media/myjs/generateHighChartsFigure.js"></script>
	<script type="text/javascript" src="/media/myjs/HighChartsFunctions.js"></script>


	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script src="/media/js/d3.v3.min.js"></script>
	<script type="text/javascript">
	 	google.load('visualization', '1', {'packages':['corechart', 'table', 'geomap']});
	</script>

	<script type="text/javascript" src="http://geoxml3.googlecode.com/svn/branches/polys/geoxml3.js"></script>

