  <div class="modis-var2" style="display:none">
	<span style="color:black">(Data:2000-02-24 to Present)</span>
   </div>
   <div class="gridmet-var2" style="display:none">
	<span style="color:black">(Data:1979-01-01 to Present)</span>
   </div>
   <div class="landsat578-var2" style="display:none">
   <span style="color:black">(Data:1984-01-01 to Present)</span>
   </div>
   <div class="landsat5-var2" style="display:none">
   <span style="color:black">(Data:1984-01-01 to 2011-11-17)</span>
   </div>
   <div class="landsat7-var2" style="display:none">
	<span style="color:black">(Data:1999-01-01 to Present)</span>
   </div>
   <div class="landsat8-var2" style="display:none">
	<span style="color:black">(Data:2013-04-07 to Present)</span>
   </div>
   <div class="chirps-var2" style="display:none">
	<span style="color:black">(Data:1981-01-01 to Present)</span>
   </div>
   <div class="cfsv2-var2" style="display:none">
	<span style="color:black">(Data:1979-01-01 to Present)</span>
   </div>
   <div class="maca-var2" style="display:none">
	<span style="color:black">(Data:1950-01-01 to 2099-12-31)</span>
   </div>
