<div class="ftcustom">

  <a href="#" data-toggle="popover" data-html="true" data-placement="bottom" data-container="body"  data-trigger="focus" style="height:100px;font-size:11px;font-family:Arial, sans-serif;" style="width: 300px;" id="customft{{ ft_id }}" rel="popover" data-original-title='Custom Fusion Table(FT) Form' data-content='

 <div class="panel panel-default">
        <div class="panel-body panel-forms">
                <div class="row">
                        <div class="col-xs-12">
                        <a href="https://www.google.com/fusiontables/data?dsrcid=implicit" target="_blank">Create FT</a> |
                        <a href="https://support.google.com/fusiontables/answer/184641?hl=en" target="_blank">Help FT</a>
                        <hr>
                        </div>
                        <div class="col-xs-12">
                                <b>Fusion Table Id:<br>
                                 <input type="text" id="ft-popover{{ ft_id }}" class="ft-popover" name="ft-popover{{ ft_id }}"/>
                                <br><br>
                                <b>Table Column Name:<br>
                                 <input type="text" class="ftcolumnName-popover" id="ftcolumnName-popover{{ ft_id }}" name="ft{{ ft_id }}columnName">
                        </div>
                        <div class="col-xs-12">
                                <hr>
                                <button type="button" class="btn btn-large btn-success pull-left" style="width:100%"
                                        id="ftbutton{{ ft_id }}" onclick="loadFusionTableFeatures({{ ft_id }});">Load FT</button>
                        </div>
                </div>
        </div>
</div>

' template=''>
          <img src="images/info_button.png">
        </a>

</div>
