<input type="hidden" id="maxDate_G" name="maxDate_G" value="{{ maxDate_G }}" />
<input type="hidden" id="maxDate_CHIRPS" name="maxDate_CHIRPS" value="{{ maxDate_CHIRPS }}" />
<input type="hidden" id="maxDate_CFSV2" name="maxDate_CFSV2" value="{{ maxDate_CFSV2 }}" />
<input type="hidden" id="maxDate_MODIS_daily" name="maxDate_MODIS_daily" value="{{ maxDate_MODIS_daily }}" />
<input type="hidden" id="maxDate_MODIS_8day" name="maxDate_MODIS_8day" value="{{ maxDate_MODIS_8day }}" />
<input type="hidden" id="maxDate_MODIS_16day" name="maxDate_MODIS_16day" value="{{ maxDate_MODIS_16day }}" />
<input type="hidden" id="maxDate_LANDSAT_daily" name="maxDate_LANDSAT_daily" value="{{ maxDate_LANDSAT_daily }}" />
<input type="hidden" id="maxDate_LANDSAT5_daily" name="maxDate_LANDSAT5_daily" value="{{ maxDate_LANDSAT5_daily }}" />
<input type="hidden" id="maxDate_LANDSAT7_daily" name="maxDate_LANDSAT7_daily" value="{{ maxDate_LANDSAT7_daily }}" />
<input type="hidden" id="maxDate_LANDSAT8_daily" name="maxDate_LANDSAT8_daily" value="{{ maxDate_LANDSAT8_daily }}" />
<input type="hidden" id="maxDate_LANDSAT5_8day" name="maxDate_LANDSAT5_8day" value="{{ maxDate_LANDSAT5_8day }}" />
<input type="hidden" id="maxDate_LANDSAT7_8day" name="maxDate_LANDSAT7_8day" value="{{ maxDate_LANDSAT7_8day }}" />
<input type="hidden" id="maxDate_LANDSAT8_8day" name="maxDate_LANDSAT8_8day" value="{{ maxDate_LANDSAT8_8day }}" />
<input type="hidden" id="maxDate_L8_SR" name="maxDate_L8_SR" value="{{ maxDate_L8_SR }}" />
<input type="hidden" id="maxDate_PFV52" name="maxDate_PFV52" value="{{ maxDate_PFV52 }}" />

<input type="hidden" id="maxDate_LANDSAT8_SR" name="maxDate_LANDSAT8_SR" value="{{ maxDate_LANDSAT8_SR }}" />
