<p>
<h2>AVHRR</h2>
<ul>
	<li><b>Description:</b>The AVHRR Pathfinder Version 5.2 Sea Surface Temperature data set (PFV52) is a collection of global, twice-daily 4km sea surface temperature data. </li>
	<li><b>Organization:</b>NOAA</li>
	<li><b>Spatial resolution:</b> 4-km grid (1/24 deg)</li>
	<li><b>Time Span:</b> 1981-08-24 - 2012-12-31</li>
	<li><b>Variables</b>:</li>
	<ul>
	    <li>Sea Surface Temperature</li>
	</ul>
	<LI><b>Website:</b><a href="http://data.nodc.noaa.gov/pathfinder/Version5.2/GDS_TechSpecs_v2.0.pdf" target="_blank">
	AVHRR Technical Specifications</a></LI>
	<LI><b>Google Cloud Catalog:</b><a href="https://earthengine.google.org/#detail/NOAA%2FAVHRR_Pathfinder_V52_L3" target="_blank">
	AVHRR Info</a></LI>

</ul>
</p>
