<div class="panel panel-default">
    <div class="panel-heading">
	  <!-- *********************************************************   -->
	  <div class="accordion-group">
		 <!-- *******************   -->
		  <!--   WEATHER-POLVORTEX   -->
		 <!-- *******************   -->
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionSTUDIES" href="#collapsePOLVORTEX">
			 <li><h4><i class="fa">2015 - Eastern Polar Vortex II and Western Warm Spell in North America</i><b class="caret"></b></h4></li>
			</a>
		</div>
	   </div>
	   <div id="collapsePOLVORTEX" class="accordion-body collapse">
		       <div class="accordion-inner">
				    <div class="panel-body">
						 <div class="panel panel-default">
							   <div class="panel-body">
									{% include 'descriptions/CASESTUDY_WP_POLVORTEX_description.html'%}
							   </div>
						 </div>
				    </div>
			</div>
	   </div>
	  <!-- *********************************************************   -->
	<div class="accordion-group">
		 <!-- *******************   -->
		<!--    SANTA ANNA WINDS    -->
		 <!-- *******************   -->
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionSTUDIES" href="#collapseANNAWINDS">
			<li><h4><i class="fa">Santa Ana Winds</i><b class="caret"></b></h4></li>
			</a>
		</div>
	   </div>
	    <div id="collapseANNAWINDS" class="accordion-body collapse">
		       <div class="accordion-inner">
				    <div class="panel-body">
						 <div class="panel panel-default">
							   <div class="panel-body">
								{% include 'descriptions/CASESTUDY_WP_ANNAWINDS_description.html'%}
							  </div>
						</div>
				    </div>
			</div>
	    </div>
	  <!-- *********************************************************   -->
    </div><!-- end of panels -->
</div><!-- end of panels-->
