<div class="panel panel-default">
    <div class="panel-heading">
	  <!-- *********************************************************   -->
	<div class="accordion-group">
		<!-- *******************   -->
		<!--    FIRE - CARLETON-->
		<!-- *******************   -->
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionSTUDIES" href="#collapseCARLETON">
			 <li><h4><i class="fa">2014 Carleton Complex Fire - Wenatchee, Washington</i><b class="caret"></b></h4></li>
			</a>
		</div>
	</div>
	 <div id="collapseCARLETON" class="accordion-body collapse">
	       <div class="accordion-inner">
			    <div class="panel-body">
				<div class="panel panel-default">
					   <div class="panel-body">
						{% include 'descriptions/CASESTUDY_FIRE_CARLETON_description.html'%}
					    </div>
			        </div>
		    	    </div>
		</div>
	</div>
	  <!-- *********************************************************   -->
	<div class="accordion-group">
		<!-- *******************   -->
		<!--    FIRE -RIM FIRE -->
		<!-- *******************   -->
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionSTUDIES" href="#collapseRIM">
			 <li><h4><i class="fa">2013 Rim Fire - Sierra Nevada, California</i><b class="caret"></b></h4></li>
			</a>
		</div>
	</div>
	 <div id="collapseRIM" class="accordion-body collapse">
	      <div class="accordion-inner">
			    <div class="panel-body">
					<div class="panel panel-default">
						   <div class="panel-body">
							{% include 'descriptions/CASESTUDY_FIRE_RIM_description.html'%}
						   </div>
					</div>
			    </div>
		</div>
	 </div>
	  <!-- *********************************************************   -->
	<div class="accordion-group">
		<!-- *******************   -->
		<!--    FIRE- YELLOWSTONE-->
		<!-- *******************   -->
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionSTUDIES" href="#collapseYELLOW">
			 <li><h4><i class="fa">1988 Yellowstone Fires  Fire - Wyoming</i><b class="caret"></b></h4></li>
			</a>
		</div>
	 </div>
	 <div id="collapseYELLOW" class="accordion-body collapse">
	       <div class="accordion-inner">
			    <div class="panel-body">
					<div class="panel panel-default">
						   <div class="panel-body">
							{% include 'descriptions/CASESTUDY_FIRE_YELLOWSTONE_description.html'%}
						   </div>
					</div>
			    </div>
		</div>
	 </div>
	  <!-- *********************************************************   -->
    </div><!-- end of panels -->
</div><!-- end of panels-->
