<div class="panel panel-default">
     <div class="panel-heading">
	  <!-- *********************************************************   -->
	   <div class="accordion-group">
		<!-- *******************   -->
		<!--   DROUGHT_CA HEAT , NEVADA SUMMER RAIN-->
		<!-- *******************   -->
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionSTUDIES" href="#collapseCAandNV">
			 <li><h4><i class="fa">2014 California Summer Record Heat and Drought, and Nevada Summer Rains</i><b class="caret"></b></h4></li>
			</a>
		</div>
	   </div>
	   <div id="collapseCAandNV" class="accordion-body collapse">
	       <div class="accordion-inner">
			    <div class="panel-body">
					<div class="panel panel-default">
						 <div class="panel-body">
							{% include 'descriptions/CASESTUDY_DROUGHT_CAandNV_description.html'%}
						</div>
					</div>
			    </div>
		</div>
	    </div>
     <!-- *********************************************************   -->
	    <div class="accordion-group">
		<!-- *******************   -->
		<!--   DROUGHT_ GREAT PLAINS-->
		<!-- *******************   -->
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionSTUDIES" href="#collapseGREATPLAINS">
			 <li><h4><i class="fa">2012 Central Great Plains "Flash" Drought </i><b class="caret"></b></h4></li>
			</a>
		</div>
	   </div>
	   <div id="collapseGREATPLAINS" class="accordion-body collapse">
	       <div class="accordion-inner">
			    <div class="panel-body">
					<div class="panel panel-default">
						   <div class="panel-body">
							{% include 'descriptions/CASESTUDY_DROUGHT_GREATPLAINS_description.html'%}
						  </div>
					</div>
			    </div>
	       </div>
	   </div>
	  <!-- *********************************************************   -->
	   <div class="accordion-group">
		<!-- *******************   -->
		<!--   DROUGHT_TX OK DROUGHT-->
		<!-- *******************   -->
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionSTUDIES" href="#collapseTXandOK">
			 <li><h4><i class="fa">2011 Texas and Oklahoma Drought</i><b class="caret"></b></h4></li>
			</a>
		</div>
	  </div>
	  <div id="collapseTXandOK" class="accordion-body collapse">
		     <div class="accordion-inner">
			    <div class="panel-body">
					<div class="panel panel-default">
						   <div class="panel-body">
							{% include 'descriptions/CASESTUDY_DROUGHT_TXandOK_description.html'%}
						    </div>
					</div>
			    </div>
		      </div>
	  </div>
	  <!-- *********************************************************   -->
    </div><!-- end of panels -->
</div><!-- end of panels-->
