<p><span style="font-size:400%">
<h2>CFS Reanalysis</h2>
<ul>
	<li><b>Description:</b>NCEP Climate Forecast System Reanalysis dataset</li>
	<li><b>Organization:</b> NOAA NWS National Centers for Environmental Prediction (NCEP)</li>
	<li><b>Spatial resolution:</b> 
		<ul>
		<li>After 2011: 19.2-km grid (1/5-deg) </li>
		<li>Before 2011: 28.8-km grid (3/10-deg) </li>
	</ul></li>
	<li><b>Time Span:</b> 1979-Present(Updated every day)</li>
	<li><b>Variables</b>:</li>
	<ul>
	    <li>Minimum/Maximum/Mean Temperature</li>
	    <li>Minimum/Maximum/Mean Specific Humidity</li>
	    <li>Precipitation</li>
	    <li>Wind Speed and Components</li>
	    <li>Latent/Sensible Heat</li>
	    <li>Downward/Upward Shortwave/Longwave and Net Radiation</li>
  	    <li>Soil Moisture</li>	
	    <li>Potential Evapotranspiration</li>
	    <li>Surface Geopotential Height</li>
	</ul>
	<LI><b>Website:</b><a href="http://cfs.ncep.noaa.gov/cfsr/" target="_blank">
	CFSR Website</a></LI>
	<LI><b>Google Cloud Catalog:</b><a href="https://earthengine.google.org/#detail/NOAA%2FCFSV2%2FFOR6H" target="_blank">
	CFSR Info</a></LI>
</ul>
</span>
</p>
