<p>
<h2>CHIRPS</h2>
<ul>
	<li><b>Description:</b>Climate Hazards Group InfraRed Precipitation with Station data (CHIRPS) is a 30+ year quasi-global rainfall dataset</li>
	<li><b>Organization:</b>UCSB/CHG</li>
	<li><b>Spatial resolution:</b> 4.8-km grid (1/20 deg)</li>
	<li><b>Time Span:</b> 1981-present(Updated every month)</li>
	<li><b>Variables</b>:</li>
	<ul>
	    <li>5-day precipitation</li>
	</ul>
	<LI><b>Website:</b><a href="http://chg.geog.ucsb.edu/data/chirps/" target="_blank">
	CHIRPS Website</a></LI>
	<LI><b>Google Cloud Catalog:</b><a href="https://earthengine.google.org/#detail/UCSB-CHG%2FCHIRPS%2FPENTAD" target="_blank">
	CHIRPS Info</a></LI>

</ul>
</p>
