	<h2>Contributors:</h2>
	<hr>
<div class="col-md-6">
		<li>Mike Hobbins - NOAA / CIRES / NIDIS</li>
		<li>Jim Verdin - USGS / NIDIS</li>
		<li>Chris Funk - University California Santa Barbara</li>
		<li>Forrest Melton - California State University / NASA Ames</li>
		<li>Mike Dettinger - USGS / Scripps</li>
		<li>Sarah Peterson - BLM</li>
</div>
<div class="col-md-6">
		<li>Keirith Snyder - USDA / ARS</li>
		<li>Peter Weisberg - University of Nevada, Reno</li>
		<li>John Mejia - Desert Research Institute</li>
		<li>Rick Allen - University of Idaho</li>
		<li>Ayse Kilic - University of Nebraska, Lincoln</li>
		<li>Laura Edwards - South Dakota State University</li>
</div>
