<p><span style="font-size:400%">
<h2>UI METDATA/gridMET</h2>
<ul>
	<li><b>Description:</b> Surface meteorological dataset based on PRISM and NLDAS-2</li>
	<li><b>Organization:</b> University of Idaho (UI)</li>
	<li><b>Spatial resolution:</b> 4-km grid (1/24-deg)</li>
	<li><b>Time Span:</b> 1979-Present(Updated every day)</li>
	<li><b>Variables</b>:</li>
	<ul>
	    <li>Minimum/Maximum Temperature</li>
	    <li>Precipitation</li>
	    <li>Minimum/Maximum Relative Humidity</li>
	    <li>Specific Humidity</li>
	    <li>Downward Solar Radiation</li>
	    <li>Near Surface Wind Velocity</li>
	    <li>Potential Evapotranspiration</li>
	    <li>Energy Release Component(model-G)</li>
	</ul>
	<LI><b>Website:</b><a href="http://climate.nkn.uidaho.edu/METDATA" target="_blank">
	METDATA Website</a></LI>
	<LI><b>Google Cloud Catalog:</b><a href="https://earthengine.google.org/#detail/IDAHO_EPSCOR%2FGRIDMET" target="_blank">
	METDATA Info</a></LI>
</ul>
</span>
</p>
