<div style="text-align:center">
	<p style="font-size:500%">Climate Engine</span></p>
	<h2>Cloud Computing and Visualization of<br >Climate and Remote Sensing Data</h2>
</div>
<hr>
<img src="/images/popup-image.png" width="100%">
<hr>
<p>
	<div style="text-align:center">
	<a href="http://www.dri.edu/reno"><img src="images/team/dri.png" height="100" alt="Desert Research Institute(DRI)" style="border: none"></a>&nbsp;
	<a href="http://www.uidaho.edu"><img src="images/team/uidaho.jpeg" height="100" alt="UofI" style="border: none"></a>&nbsp;
	<a href="http://www.google.com"><img src="images/team/google.jpg" height="100" alt="Google" style="border: none"></a>&nbsp;
	</div>
</p>
<hr>
<div style="text-align:center"><span style="color:red">Note: Website developed using Chrome internet browser. Use other browsers at your own risk.</span></div>
