<p>
<h2>Landsat Remote Sensing 4,5,7,8</h2>
<ul>
	<li><b>Description:</b>Reflectance data in visible, near, short infrared and thermal bands</li>
	<li><b>Organization:</b> NASA/USGS</li>
	<li><b>Spatial resolution:</b> 30-m, 80-m, and 120-m</li>
	<li><b>Time Span:</b> 1982-Present (Updated every 16-days )</li>
	<li><b>Composite Images</b>:<li>
	<ul>
	    <li>EVI: Enhanced Vegetation Index</li>
	    <li>LST: Land Surface Temperature</li>
	    <li>NDVI: Normalized Difference Vegetation Index</li>
	    <li>NDSI: Normalized Difference Snow Index</li>
	    <li>NDWI: Normalized Difference Water Index</li>
	</ul>
	<li><b>Methods:</b></li>
	<ul>
		<li>ACCA cloud mask: <a href="http://landsathandbook.gsfc.nasa.gov/pdfs/ACCA_Special_Issue_Final.pdf" target="_blank">Handbook</a>, <a href="http://landsathandbook.gsfc.nasa.gov/pdfs/ACCA_SPIE_paper.pdf" target="_blank">Paper</a></li>
		<li>Chander radiance to top-of-atmosphere reflectance <a href="http://landsathandbook.gsfc.nasa.gov/pdfs/Landsat_Calibration_Summary_RSE.pdf" target="_blank">coefficients</a> for Landsat 4/5/7 </li>
		<li> the <a href="http://landsat.usgs.gov/documents/cdr_sr_product_guide.pdf" target="_blank">Landsat 4-7 SR</a> product guide and the <a href="http://landsat.usgs.gov/documents/provisional_l8sr_product_guide.pdf" target="_blank">Landsat 8 SR</a>product guide.</li>
	</ul>
	 <LI><b>Website:</b><a href="http://landsat.usgs.gov/" target="_blank">
		Landsat Website</a></LI>
	<li><b>Google Cloud Catalog:</b> the following products are used in Climate Engine
		<ul>
		<LI><a href="https://earthengine.google.org/#search/Landsat%20SR" target="_blank">Landsat 4,5,7,8 SR Info</a></LI>
		<LI><a href="https://earthengine.google.org/#search/LT4_L1T_TOA" target="_blank">Landsat 4 TOA Info</a></LI>
		<LI><a href="https://earthengine.google.org/#search/LT5_L1T_TOA" target="_blank">Landsat 5 TOA Info</a></LI>
		<LI><a href="https://earthengine.google.org/#search/LE7_L1T_TOA" target="_blank">Landsat 7 TOA Info</a></LI>
		<LI><a href="https://earthengine.google.org/#search/LC8_L1T_TOA" target="_blank">Landsat 8 TOA Info</a></LI>
	</ul>
	</li>
</ul>
<ndsat
/p>
