<p>
<h2>Enhanced Vegetation Index (EVI)</h2>
The Enhanced Vegetation Index is a common vegetation index that was developed to optimize the vegetation signal and improve the sensitivity to improve vegetation monitoring in through a de-coupling of the canopy background signal and atmosphere influences (Liu and Huete, 1995). Like NDVI drought can be visualized through computing time series and spatial anomalies of EVI.

<br><br>
<i><a href="http://ieeexplore.ieee.org/xpl/login.jsp?reload=true&tp=&arnumber=377946&url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D377946" target="_blank">Liu, H. Q., & Huete, A. (1995). A feedback based modification of the NDVI to minimize canopy background and atmospheric noise. IEEE Transactions on Geoscience and Remote Sensing, 33, 457−465</a></i>
</p>
