<p>
<h2>Normalized Difference Water Index (NDWI)</h2>
The normalized difference water index can be utilized for evaluating vegetation liquid water contents or water inundated areas (Gao, 1996). NDWI is useful for evaluating reflectance from vegetation canopies that have similar scattering properties, but slightly different liquid water absorption due to canopy water content. As a result, NDWI is sensitive to changes in liquid water content of vegetation canopies and open water areas. The common range of NDWI for green vegetation is -0.1 to 0.4 with 0.4 indicating high vegetation water content.
<br><br>
<i><a href="http://ceeserver.cee.cornell.edu/wdp2/cee6150/Readings/Gao_1996_RSE_58_257-266_NDWI.pdf" target="_blank">Gao, B.C., 1996, NDWI - A normalized difference water index for remote sensing of vegetation liquid water from space. Remote Sensing of Environment, 58, 257–266.</a></i>
</p>
