<p>
<h2>MODIS Terra Remote Sensing</h2>
<ul>
	<li><b>Description:</b>Reflectance data in 36 frequency bands: visible to thermal</li>
	<li><b>Organization:</b> NASA</li>
	<li><b>Spatial resolution:</b> 250-m, 500-m, and 1-km</li>
	<li><b>Time Span:</b> 1999-Present (Updated every 1-2-days)</li>
	<li><b>Composite Images</b>: (daily, 8-day, 16-day, monthly, quarterly, annual)</li>
	<ul>
	    <li>EVI: Enhanced Vegetation Index</li>
	    <li>LST: Daytime Land Surface Temperature</li>
	    <li>NDVI: Normalized Difference Vegetation Index</li>
	    <li>NDSI: Normalized Difference Snow Index</li>
	    <li>NDWI: Normalized Difference Water Index</li>
	</ul>
	<li><b>Methods:</b></li>
	<ul>
		<li><a href="http://modis-sr.ltdri.org/guide/MOD09_UserGuide_v1_3.pdf" target="_blank">MODIS MOD09 User Guide-Version 1.3</a> 
		<li><a href="http://modis-sr.ltdri.org/guide/MOD09_UserGuide_v1.4.pdf" target="_blank">MODIS MOD09 User Guide-Version 1.4</a></li>
	</ul>
	<LI><b>Website:</b><a href="http://modis.gsfc.nasa.gov/" target="_blank">
	MODIS Website</a></LI>
	<LI><b>Google Cloud Catalog:</b><a href="https://earthengine.google.org/#search/modis" target="_blank">
	MODIS Info</a></LI>
</ul>
</p>
