<div class="col-sm-12">
	<div class="col-sm-6">
		 <div class="panel panel-default">
                    <div class="panel-heading">
                       <h3><b>
			<a href="http://earthengine.google.org" target="_blank">
			Google Earth Engine
			</a></b></h3><br>
	                <div style="text-align:center"><img src="images/sponsors/logo_googleearthengine.png" height="50" alt=""></div>
		   </div>
		</div>
	</div>
	<div class="col-sm-6">
		 <div class="panel panel-default">
                    <div class="panel-heading">
			<h3><b>
			<a href="https://landsat.usgs.gov/Landsat_Science_Team_2012-2017.php" target="_blank">
			U.S. Geological Survey & NASA 2012 - 2017 Landsat Science Team
			</a></b></h3><br>
			<div style="text-align:center">
				<img src="images/sponsors/logo_USGS.png" height="60" alt="">
				<img src="images/sponsors/logo_NASA.jpg" height="60" alt="">
				<img src="images/sponsors/logo_landsat.jpg" height="60" alt="">
			</div>
		   </div>
		</div>
	</div>
	<hr>
</div>

<div class="col-sm-12">
	<div class="col-sm-6">
		 <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><b>
			<a href="http://earlywarning.usgs.gov/fews" target="_blank">
			U.S. Geological Survey / USAID Famine Early Warning Systems Network - FEWS NET
			</a></b></h3><br>
			<div style="text-align:center">
                         <img src="images/sponsors/logo_fewsnet.png" height="60" alt="">
			</div>
		   </div>
		</div>
	</div>
	<div class="col-sm-6">
		 <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><b>
                        <a href="http://www.blm.gov/nv/st/en.html" target="_blank">
			Bureau of Land Management Nevada State Office
                        </a></b></h3><br>
			<div style="text-align:center">
                       <img src="images/sponsors/logo_blm.jpg" height="60" alt=""></div>
		   </div>
		</div>
	</div>
	<hr>
</div>

<div class="col-sm-12">
	<div class="col-sm-6">
		 <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><b>
                        <a href="http://www.wrcc.dri.edu/" target="_blank">
			Western Regional Climate Center
                        </a></b></h3><br>
			<div style="text-align:center">
                         <img src="images/sponsors/logo_wrcc.gif" height="60" alt="">
			</div>
		   </div>
		</div>
	</div>
	<div class="col-sm-6">
		 <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><b>
                        <a href="http://environment.unr.edu/gbcesu/" target="_blank">
			Great Basin Cooperative Ecosystems Study Unit
                        </a></b></h3><br>
			<div style="text-align:center">
                        <img src="images/sponsors/logo_greatbasincesu.jpg" height="60" alt="">
			</div>
		   </div>
		</div>
	</div>
	<hr>
</div>


<div class="col-sm-12">
        <div class="col-sm-6">
                 <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><b>
                        <a href="http://www.reacchpna.org" target="_blank">
			Regional Approaches to Climate Change - Pacific Northwest Agricture
                        </a></b></h3><br>
                        <div style="text-align:center">
                         <img src="images/sponsors/logo_REACCH.png" height="60" alt="">
                        </div>
                   </div>
                </div>
        </div>
        <div class="col-sm-6">
                 <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><b>
                        <a href="http://www.pnwcirc.org/" target="_blank">
                        Climate Impacts Research Consortium
                        </a></b></h3><br>
                        <div style="text-align:center">
                        	<img src="images/sponsors/logo_CIRC.png" height="60" alt="">
                        	<img src="images/sponsors/logo_RISA.jpg" height="60" alt="">
                        </div>
                   </div>
                </div>
        </div>
        <hr>
</div>
