<div class="col-md-6">
	 <div class="panel panel-default">
	    <div class="panel-heading">
                 <table  border="0" width="100%" height="100%">
                 <tr>
                        <td><img class="img-circle" src="images/team/huntington.jpg" height="100" width="100" alt="Justin Huntington"></td>
                        <td><h3><b>Justin Huntington</b></h3><br>
                                Associate Research Professor, Hydrology<br>
                                Desert Research Institute<br>
                                University of Nevada,Reno<br>
                                Justin.Huntington [at] dri.edu
                        </td>
                </tr>
	        <tr>
                         <td><img class="img-circle" src="images/team/daudert_old.jpg" height="100" width="100" alt="Britta Daudert"></td>
                         <td><h3><b>Britta Daudert</b></h3><br>
                                Research Scientist<br>
                                Desert Research Institute<br>
                                University of Nevada,Reno<br>
                                Britta.Daudert [at] dri.edu
                        </td>
                </tr>
                <tr>
                        <td><img class="img-circle" src="images/team/morton.jpg" height="100" width="100" alt="Charles Morton"></td>
                        <td><h3><b>Charles Morton</b></h3><br>
                                Research Scientist<br>
                                Desert Research Institute<br>
                                University of Nevada,Reno<br>
                                Charles.Morton [at] dri.edu
                        </td>
                </tr>
		 <tr>
                         <td><img class="img-circle" src="images/team/mcevoy.jpg" height="100" width="100" alt="Dan McEvoy"></td>
                         <td><h3><b>Dan McEvoy</b></h3><br>
                                Graduate Student<br>
                                Desert Research Institute<br>
                                University of Nevada,Reno<br>
                                Daniel.McEvoy [at] dri.edu
                        </td>
                </tr>
                </table>
	  </div>
	</div>
</div>
<div class="col-md-6">
	 <div class="panel panel-default">
	    <div class="panel-heading">
                <table  border="0" width="100%" height="100%">
                <tr>
                        <td><img class="img-circle" src="images/team/abatzoglou.jpg" height="100" width="100" alt="John Abatzoglou"></td>
                        <td><h3><b>John Abatzoglou</b></h3><br>
				Associate Professor, Geography<br>
                                University of Idaho, Moscow<br>
                               jabatzoglou [at] uidaho.edu
			</td>
                </tr>
		 <tr>
                        <td><img class="img-circle" src="images/team/hegewisch.jpg" height="100" width="100" alt="Katherine Hegewisch"></td>
                        <td><h3><b>Katherine Hegewisch</b></h3><br>
				Postdoctoral Fellow<br>
                                University of Idaho, Moscow<br>
                               khegewisch [at] uidaho.edu
			</td>
                </tr>
		<tr>
                        <td><img class="img-circle" src="images/team/vansant.jpg" height="100" width="100" alt="Donny VanSant"></td>
                        <td><h3><b>Donovan VanSant</b></h3><br>
                                Graduate Student<br>
                                University of Idaho, Moscow<br>
                                 vans1746 [at] vandals.uidaho.edu
                        </td>
                </tr>
                </table>
	</div>
	</div>
	 <div class="panel panel-default">
            <div class="panel-heading">
		<h2><span style="color:red">Problems?</span></h2>
		Submit comments or problems you encountered to this <a href="https://docs.google.com/forms/d/1cBxfMwU_35YlOqobde9p76BxPjUV5u1yu-ihHCXi_Fo/viewform?usp=send_form" target="_blank">form</a>. 
	</div>
	</div>
</div>
<div class="col-md-12">
	<hr>
	<p><div style="text-align:center">
				<a href="http://www.dri.edu/reno"><img src="images/team/dri.png" height="100" alt="Desert Research Institute(DRI)" style="border: none"></a>&nbsp;
				<a href="http://www.uidaho.edu"><img src="images/team/uidaho.jpeg" height="100" alt="UofI" style="border: none"></a>
	&nbsp;
				<a href="http://www.google.com"><img src="images/team/google.jpg" height="100" alt="Google" style="border: none"></a>
			
	</div</p>
</div>
