<!-- Modal -->
<div class="modal fade" id="myCarouselModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabelCase" aria-hidden="true">
 <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <!-- *******************   -->
        <!--     HEADER             -->
        <!-- *******************   -->
        <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<h2 class="modal-title" id="myModalStory1" style="color:red">2012 Central Great Plains Flash Drought</h2>
		<p>
		Storm tracks that normally flow through the Central Great Plains during May and June were forced to the north and into Canada, which was followed by a lack of usual July and August thunderstorms. These conditions in combinations led to Dust Bowl era record breaking low spring and summer rainfall totals, and extreme drought conditions costing taxpayers upwards of $35 billion. See this drought event depicted in many different ways. 
		</p>
        </div>
       	<!-- *******************   -->
	<div class="modal-body">
            <div class="row">
			<div class="col-md-12">
	

 <header id="myCarouselStory1" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('/images/landing/example_flashdrought_LST.png');"></div>
		<p>
			MODIS Land Surface Temperature (LST) difference from the climatology from May - August 2012 shows increased surface temperatures due to reduced evapotranspiration and increased air temperatures. 
		</p>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/images/landing/.png');"></div>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/images/landing/.png');"></div>
                <div class="carousel-caption">
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarouselStory1" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarouselStory1" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>




			</div><!-- end of col -->
	     </div><!--end of row-->
        	<!-- *******************   -->
         </div><!--modal-body-->
       	<!-- *******************   -->
    </div><!--modal-content-->
  </div><!--modal-dialog-->
</div>
