<input type="hidden" id="minYear2" name="minYear2" value="{{ minYear2 }}" />
<input type="hidden" id="minDate2" name="minDate2" value="{{ minDate2 }}" />
<input type="hidden" id="maxDate2" name="maxDate2" value="{{ maxDate2 }}" />
<input type="hidden" class="var2Units" id="var2UnitsTS" name="var2UnitsTS" value="{{ var2UnitsTS }}">

<input type="hidden" class="ftSubChoice1" id="temp_ftSubChoice1" name="temp_ftSubChoice1" value="{{ ftSubChoice2 }}">
<input type="hidden" class="ftSubChoice2" id="temp_ftSubChoice2" name="temp_ftSubChoice2" value="{{ ftSubChoice2 }}">
<input type="hidden" class="ftSubChoice3" id="temp_ftSubChoice3" name="temp_ftSubChoice3" value="{{ ftSubChoice3 }}">
<input type="hidden" class="ftSubChoice4" id="temp_ftSubChoice4" name="temp_ftSubChoice4" value="{{ ftSubChoice4 }}">
<input type="hidden" class="ftSubChoice5" id="temp_ftSubChoice5" name="temp_ftSubChoice5" value="{{ ftSubChoice5 }}">

