<div class="panel panel-default">
<div class="panel-body panel-forms">
	<!-- ******************** -->
	<!--    TABS           -->
	<!-- ******************** -->
	<ul class="nav nav-pills">
        <!--VARIABLE 1-->
        <li class="active"><a id="d_1" href="#data_1" data-toggle="tab"></a></li>
        <li><a id="d_2" href="#data_2" data-toggle="tab"></a></li>
        <li><a id="d_3" href="#data_3" data-toggle="tab"></a></li>
        <li><a id="d_4" href="#data_4" data-toggle="tab"></a></li>
        <li><a id="d_5" href="#data_5" data-toggle="tab"></a></li>
        <!--VARIABLE 2-->
        <li><a id="d2_1" href="#data2_1" data-toggle="tab"></a></li>
        <li><a id="d2_2" href="#data2_2" data-toggle="tab"></a></li>
        <li><a id="d2_3" href="#data2_3" data-toggle="tab"></a></li>
        <li><a id="d2_4" href="#data2_4" data-toggle="tab"></a></li>
        <li><a id="d2_5" href="#data2_5" data-toggle="tab"></a></li>
	</ul>

	<div class="tab-content">
	    <!-- ******************** -->
	    <!--    DATA TABS FOR VARIABLE 1 and 2 -->
	    <!-- ******************** -->
        <!-- VARIABLE 1-->
        <div class="tab-pane ts_data_tab active" id="data_1"></div>
        <div class="tab-pane ts_data_tab" id="data_2"></div>
        <div class="tab-pane ts_data_tab" id="data_3"></div>
        <div class="tab-pane ts_data_tab" id="data_4"></div>
        <div class="tab-pane ts_data_tab" id="data_5"></div>
        <!-- VARIABLE 2-->
        <div class="tab-pane ts_data_tab" id="data2_1"></div>
        <div class="tab-pane ts_data_tab" id="data2_2"></div>
        <div class="tab-pane ts_data_tab" id="data2_3"></div>
        <div class="tab-pane ts_data_tab" id="data2_4"></div>
        <div class="tab-pane ts_data_tab" id="data2_5"></div>
 
	</div><!--end tab content -->
	<p style="text-align:center"> Scroll down to see more data</p>
</div><!--end panel-body-->
</div> <!--end panel-form-->
