<nav class="navbar navbar-default" id="above-map-nav">
  <div class="container-fluid">
    <div class="navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav pull-left">
	  <li class="dropdown custom-dropdown-menu">
            <a class="dropdown-toggle" href="#" id="colormapDropdown">Colormap Options<strong class="caret"></strong></a>
           <div class="dropdown-menu" style="min-width:330px;padding: 5px; padding-bottom: 0px;">
		 {% include 'includes/MAP/dropdown_map_colorbar.html'%}
	   </div>
	 </li>
	</ul>	
        <ul class="nav pull-left">
          <li class="dropdown custom-dropdown-menu">
            <a class="dropdown-toggle" href="#">Apply Mask<strong class="caret"></strong></a>
            <div class="dropdown-menu" style="min-width:300px;padding: 15px; padding-bottom: 0px;">
		 {% include 'includes/MAP/dropdown_map_mask.html'%}
            </div>
          </li>
        </ul>
	<ul class="nav pull-left">
          <li class="dropdown custom-dropdown-menu">
            <a class="dropdown-toggle" href="#">Download<strong class="caret"></strong></a>
           <div class="dropdown-menu">
                 {% include 'includes/MAP/dropdown_map_download.html'%}
           </div>
         </li>
        </ul>
      <ul class="nav navbar-right">
	<div class="btn btn-default" onclick="window.location = window.location.href">RESET FORMS</div>
      </ul>
      <ul class="nav navbar-right">
	 <li><a class="dropdown-toggle" href="#shareLinkModal" data-toggle="modal" onclick="generateBitlyShareLink(function(short_url){$('#shareLinkBitly').val(short_url); $('#shareLink2Show').val($('#shareLink').val())});return false;">Link</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
