<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	</button>
	<!--  ********************  -->
	<!--	  TITLE 	     -->
	<!--  ********************  -->

	<a id="downloadurlmodal" class="navbar-brand" href="#downloadURLModal" data-toggle="modal" style="display:none"></a>
    <a id="droughthome" class="navbar-brand" href="#droughtHome" data-toggle="modal"> Climate Engine - Lake Mead <span style="font-size:20px;color:orange">Beta</span></a>
    <div class="logo" style="float:right;"> <img alt="NPS" width="50px" height="66px" src="templates/LAKEMEAD/images/NPSLogo.png"/> </div>
	<!--<ul class="nav pull-left">
          <li class="dropdown custom-dropdown-menu">
 <a class="dropdown-toggle" href="#"><span style="font-size:20px;color:red">Expert View</span><strong class="caret"></strong></a>
            <div class="dropdown-menu" style="min-width:300px;padding: 15px; padding-bottom: 0px;">
                 {include 'includes/dropdown_changetointroview.html'}
            </div>
	   </li>
	</ul>
	-->
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav navbar-right">
		<!--  ********************  -->
	    	<!--	 ABOUT DATA      -->
		<!--  ********************  -->
	    <li>
		<a class="navModal" href="#aboutDataModal" data-toggle="modal"><b><big>Data</big></b></a>
	    </li>
		<!--  ********************  -->
	    	<!--	 ABOUT METRICS   -->
		<!--  ********************  -->
	    <li>
		<a class="navModal" href="#aboutMetricsModal" data-toggle="modal"><b><big>Metrics</big></b></a>
	    </li>
		<!--  ********************  -->
            	<!--         CASE STUDIES   -->
		<!--  ********************  -->
            <li>
                <a class="navModal" href="#caseStudiesModal" data-toggle="modal"><b><big>Examples</big></b></a>
            </li>
		<!--  ********************  -->
            	<!--         REFERENCES      -->
		<!--  ********************  -->
            <li>
                <a class="navModal" href="#referencesModal" data-toggle="modal"><b><big>References</big></b></a>
            </li>
		<!--  ********************  -->
            	<!--        CONTACT          -->
		<!--  ********************  -->
            <li>
                <a class="navModal" href="#contactModal" data-toggle="modal"><b><big>Contact</big></b></a>
            </li>
		<!--  ********************  -->
            	<!--  SPONSORS/CONTRIBUTORS -->
		<!--  ********************  -->
           <li>
                <a class="navModal" href="#sponsorsModal" data-toggle="modal"><b><big>Sponsors</big></b></a>
            </li> 
	</ul>
    </div>
    <!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>
