<!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Climate Engine 
                    <small></small>
                </h1>
<p>
The Desert Research Institute and University of Idaho, in partnership with Google, has developed ClimateEngine.org, a web application that enables users to quickly process and visualize satellite earth observations and gridded weather data for environmental monitoring and to improve early warning of drought, wildfire, and crop-failure risk. In an era of increasing wealth of observations, approaches for quickly accessing, analyzing and visualizing these environmental data to better inform decision making at relevant scales is lacking. ClimateEngine.org uses Google’s Earth Engine platform that allows for on-demand processing of global satellite and weather data via a web-browser. 
<br><br>
The partnership between the Desert Research Institute, University of Idaho, FEWS NET and Google was started through the White House Climate Data Initiative and a Google Faculty Research award. ClimateEngine.org is one of numerous research and application products that has resulted from this initiative and public-private partnership.
</p>
            </div>
        </div>
