  <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">From Archives to Answers</h2>
            </div>
            <div class="col-md-6">
                <p>Climate Engine was motivated by: </p>
                <ul>
                    <li>A need to create products that meet the needs of both researchers and natural resource managers to address key water and climate issues related to drought, water sustainability, agricultural productivity, wildfire, and ecological health
                    </li>
		    <li>A desire to avoid expensive remote sensing and climate data archive processing. Let the Google cloud do the work, and get the answers you need.</li>
                </ul>
		<p>Climate Engine is unique in:</p>
		<ul>
			<li>demonstrating the unprecedented accessibility in acquiring and visualizing earth observation datasets</li>
			<li> overcoming computational limitations to quickly process and visualize large data volumes for use in real-time monitoring or in a research context</li>
			<li>novel on-demand spatial and temporal analyses and visualizations for monitoring as well as early warning indicators of climate and water impacts such as drought, wildfire, ecological stress, and agricultural production</li>
			<li>ability to simply download or share results instead of processing entire data archives locally
</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="images/landing/image_motivation.png" alt="">
            </div>
        </div>
        <!-- /.row -->
