    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
    <meta name="description" content="Climate Engine for visualization of observational and remote sensing datasets. This web tool provides data access and visualization of the GridMet observational dataset, and the LandSat and MODIS remote sensing datasets available on the Google Cloud.">
    <meta name="author" content="Katherine Hegewisch(khegewisch@uidaho.edu)"/>
    <meta name="author" content="Britta Daudert(Britta.Daudert@dri.edu)"/>
    <meta name="author" content="Charles Morton(Charles.Morton@dri.edu )"/>
    <meta name="author" content="Donny VanSant(1746@vandals.uidaho.edu "/>

    <title>Climate Engine</title>

    <link href="/media/css/bootstrap.min.css" rel="stylesheet">
    <link href="/media/css/modern-business.css" rel="stylesheet">
    <link href="/media/css/colorbrewer.css" rel="stylesheet">
    <link href="/media/css/extra.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">

