<nav class="navbar navbar-default" id="above-ts-nav">
  <div class="container-fluid">
 <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#timeseriesoptionscollapse" style="border-color:#208AF0;">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar" style="background-color:#0000FF"></span>
            <span class="icon-bar" style="background-color:#0000FF"></span>
            <span class="icon-bar" style="background-color:#0000FF"></span>
        </button>
   </div><!-- navbar-header -->
        <div class="collapse navbar-collapse" id="timeseriesoptionscollapse" style="background-color:#FFFFFF;text-align:center;">
        <ul class="nav navbar-nav navbar-right">
		 <li><a class="dropdown-toggle" href="#shareLinkModal" data-toggle="modal" onclick="generateBitlyShareLink(function(short_url){$('#shareLinkBitly').val(short_url);$('#shareLink2Show').val(short_url)});return false;">Link</a></li>

            	<li>
                <div class="btn btn-default" onclick="window.location = window.location.href" style="padding: 15px; padding-bottom: 0px;">RESET FORMS</div>
            </li>
        </ul>

      <!--<ul class="nav navbar-right">
         <li><a href="#" onclick="saveMap2PDF();">Save Map</a></li>
      </ul>-->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
