 <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
			Spatial and Temporal Visualizations
		</h1>
		<p>
				Drought, agriculture, wildfire and ecological assessments through the use of gridded weather and Landsat and MODIS indices of vegetation, snow, fire, and land surface temperaturp>
		</p>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i>Drought Monitoring</h4>
                    </div>
                    <div class="panel-body">
			<p>
			 <img class="img-responsive img-center" src="/images/landing/examples_droughtmonitoring.png" alt="METDATA Physically Based PET Palmer Drought Severity Index" height="200" width="200">				
			METDATA Physically Based PET Palmer Drought Severity Index
			</p>
                        <a href="http://bit.ly/1phrCBm" class="btn btn-default">See Example</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i>Agriculture and Rangeland Productivity</h4>
                    </div>
                    <div class="panel-body">
			<p>                         
			<img class="img-responsive img-center" src="/images/landing/examples_rangelands.png" alt="Landsat Vegetation Index Anomaly" height="200" width="200">
                        Landsat Vegetation Index Anomaly 
                        </p>
                        <a href="http://bit.ly/1pFdbHO" class="btn btn-default">See Example</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i>Wildfire Risk</h4>
                    </div>
                    <div class="panel-body">
			<p>
                        <img class="img-responsive img-center" src="/images/landing/examples_ecostress.png" alt="MODIS Land Surface Temperature Anomaly" height="200" width="200">
			MODIS Land Surface Temperature Anomaly
                        </p>
			   <a href="http://bit.ly/1pht7Q8" class="btn btn-default">See Example</a>
                    </div>
                </div>
            </div>
	  <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i>Ecological Stress</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                        <img class="img-responsive img-center" src="/images/landing/examples_ecostress.png" alt="Landsat Summer NDVI for a Drying Spring" height="200" width="200">
			Landsat Summer NDVI for a Drying Spring
                        </p>
                           <a href="http://bit.ly/1phufmD" class="btn btn-default">See Example</a>
                    </div>
                </div>
            </div>
	    <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i>International Applications</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                        <img class="img-responsive img-center" src="/images/landing/examples_international.png" alt="CHIRPS Precipitation Percent Deference from Average" height="200" width="200">
		CHIRPS Precipitation Percent Deference from AverageCHIRPS Precipitation Percent Deference from Average
                        </p>
                           <a href="http://bit.ly/1phufmD" class="btn btn-default">See Example</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
