        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="images/team/huntington.jpg" alt="Justin Huntington" height="200" width="200">
                <h3>Justin Huntington
                    <small>Hydrologist</small>
                </h3>
                <p>Justin is a primary manager of this project. Justin is an Associate Research Professor in Hydrology at the Desert Research Institute in Reno, NV</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="images/team/abatzoglou.jpg" alt="John Abatzoglou" height="200" width="200">
                <h3>John Abatzoglou 
                    <small>Climatologist</small>
                </h3>
                <p>John is a primary manager of this project. John is an Associate Professor in Geography at the University of Idaho in Moscow, ID</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="images/team/hegewisch.jpg" height="200" width="200" alt="Katherine Hegewisch">
                <h3>Katherine Hegewisch
                    <small>Web Developer</small>
                </h3>
                <p>Katherine is one of the primary programmers who developed Climate Engine. Katherine is a postdoctoral fellow in Geography at the University of Idaho in Moscow, ID.</p>
            </div>
	     <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="images/team/daudert_old.jpg" height="200" width="200" alt="Britta Daudert">
                <h3>Britta Daudert
                    <small>Web Developer</small>
                </h3>
                <p>Britta is one of the primary programmers who developed Climate Engine. Britta is a research assistant at the Desert Research Institute in Reno, NV</p>
            </div>
	   <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="images/team/morton.jpg" height="200" width="200" alt="Charles Morton">
                <h3>Charles Morton
                    <small>Programmer</small>
                </h3>
                <p>Charles is an expert in programming in the Google Earth Engine environment. Charles is a research assistant at the Desert Research Institute in Reno, NV</p>
            </div>
	   <div class="col-lg-4 col-sm-6 text-center">                
		<img class="img-circle img-responsive img-center" src="images/team/mcevoy.jpg" height="200" width="200" alt="Dan McEvoy">
                <h3>Dan McEvoy
                    <small>Graduate Student</small>
                </h3>
                <p>Dan is an expert in drought metrics. Dan is a graduate student at the Desert Research Institute in Reno, NV. </p>
            </div>
        </div>
	<div class="row">
            	<div class="col-lg-12">
               		 <h2 class="page-header"></h2>
		</div>
	 	<div class="col-lg-4 col-sm-6 text-center">
			<a href="http://www.dri.edu/reno"><img src="images/team/dri.png" height="100" alt="Desert Research Institute(DRI)" style="border: none"></a>                
            	</div>
		 <div class="col-lg-4 col-sm-6 text-center">
			 <a href="http://www.uidaho.edu"><img src="images/team/uidaho.jpeg" height="100" alt="UofI" style="border: none"></a>
            	</div>
		 <div class="col-lg-4 col-sm-6 text-center">
			 <a href="http://www.google.com"><img src="images/team/google.jpg" height="100" alt="Google" style="border: none"></a>
            	</div>
	</div>
