<div class="panel panel-default">
<div class="panel-body panel-heading">
<span style="color:red;text-align:center"><h2>Contact Us</h2></span>

         <div class="panel panel-default">
         <div class="panel panel-body">
		<div class="row"> 
		   <div class="col-md-3">
                        <img class="img-circle" src="images/team/hegewisch.jpg" height="100" width="100" alt="Katherine Hegewisch">
		</div>
		   <div class="col-md-9">
                        <h3><b>Katherine Hegewisch</b></h3><br>
                                Web Developer<br>
                                Postdoctoral Fellow, Geography<br>
                                University of Idaho, Moscow<br>
                               khegewisch [at] uidaho.edu
		   </div>
		</div>
        </div>
        </div>
</div></div>
