var lightPoliticalMap = new google.maps.StyledMapType(lightPoliticalStyle,
                    {name: "Light Political"});
 map.mapTypes.set('lightPoliticalStyle', lightPoliticalMap);

var darkPoliticalMap = new google.maps.StyledMapType(darkPoliticalStyle,
    {name: "Dark Political"});
 map.mapTypes.set('darkPoliticalStyle', darkPoliticalMap);

var lightLandmassMap = new google.maps.StyledMapType(lightLandmassStyle,
    {name: "Light Landmass"});
 map.mapTypes.set('lightLandmassStyle', lightLandmassMap);

var simpleAtlasMap = new google.maps.StyledMapType(simpleAtlasStyle,
    {name: "Simple Atlas"});
 map.mapTypes.set('simpleAtlasStyle', simpleAtlasMap);

var whiteWaterMap = new google.maps.StyledMapType(whiteWaterStyle,
    {name: "White Water"});
 map.mapTypes.set('whiteWaterStyle', whiteWaterMap);
