<div class="panel panel-default">
<div class="panel-body panel-heading">
<span style="color:red;text-align:center"><h2>Contact Us</h2></span>

         <div class="panel panel-default">
         <div class="panel panel-body">
		<div class="row">
                   <div class="col-md-3">
                        <img class="img-circle" src="/templates/PRECISIONGRAZING/images/kolden.jpg" height="100" width="100" alt="Crystal Kolden">
                   </div>
                   <div class="col-md-9">
                        <h3><b>Crystal Kolden</b></h3><br>
                                Assistant Professor of Geography<br>
                                University of Idaho, Moscow<br>
                               ckolden [at] vandals.uidaho.edu
                   </div>
                </div>
		<div class="row"> 
		   <div class="col-md-3">
                        <img class="img-circle" src="/templates/PRECISIONGRAZING/images/jansen.jpg" height="100" width="100" alt="Vincent Jansen">
		   </div>
		   <div class="col-md-9">
                        <h3><b>Vincent Jansen</b></h3><br>
                                Conservation and Remote Sensing<br>
                                PhD Graduate Student, Geography<br>
                                University of Idaho, Moscow<br>
                               jans4886 [at] vandals.uidaho.edu
		   </div>
		</div>
		<div class="row"> 
		   <div class="col-md-3">
                        <img class="img-circle" src="images/team/hegewisch.jpg" height="100" width="100" alt="Katherine Hegewisch">
		</div>
		   <div class="col-md-9">
                        <h3><b>Katherine Hegewisch</b></h3><br>
                                Web Developer<br>
                                Postdoctoral Fellow, Geography<br>
                                University of Idaho, Moscow<br>
                               khegewisch [at] uidaho.edu
		   </div>
		</div>
        </div>
        </div>
</div></div>
