    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
    <meta name="description" content="Remotely Sensed Precision Grazing: this site provides a tool to vegetation biomass and height from Landsat remote sensing data utilizing the processing from ClimateEngine.org.">
    <meta name="author" content="ClimateEngine.org"/>

    <title>Precision Grazing</title>

    <link href="/media/css/bootstrap.min.css" rel="stylesheet">
    <link href="/media/css/modern-business.css" rel="stylesheet">
    <link href="/media/css/colorbrewer.css" rel="stylesheet">
    <link href="/media/css/extra.css" rel="stylesheet">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">

   <link href="media/css/extraFEWSNET.css" rel="stylesheet">
