<div class="panel panel-default">
<div class="panel-body panel-heading">
<span style="color:red;text-align:center"><h2>Introduction</h2></span>

<p>
The goal of this project is to determine the optimal number of animals per acre that is sustainable in the long run for a prescribed area of land. This optimal number should reflect the ability of the parcel of land to both feed these animals with the natural rangeland vegetation and also the ability of the natural vegetation to recover each season from the damage caused by these animals in foraging and trampling the vegetation. To determine this optimal number, we wish to monitor the average amount of vegetation available for foraging each year and use data from past foraging experiments to determine the ability of the vegetation to recover from damage. In this way, we can precisely determine the number of grazers a parcel of land can support, i.e. precision grazing. 
<br><br>
Tools for monitoring rangeland vegetation cover usually use NDVI from remote sensing datasets as a measure of the greenness of the landscape. However, the measures that would be the most useful to ranchers would be estimates of vegetation cover or biomass, as these are directly indicative of the food supply available to grazing animals. These alternative measures can be estimated by a linear superposition of many different vegetation indices from remote sensing datasets, such as Landsat 4,5,7,8 datasets. 
</p>
</div></div>

