<div class="panel panel-default">
<div class="panel-body panel-forms">
	<!-- ******************** -->
	<!--   TITLE		-->
	<!-- ******************** -->
	<div style="display:none">
		<h3 style="color:blue"> <div id='timeSeriesTitle'></div></h3>	
	</div>
	<div class="panel panel-default"><div class="panel-body panel-forms">
		<div class="row">
			<div class="col-md-12">
				<!-- ******************** -->
				<!--         MAKE HIGH CHARTS FIGURE      -->
				<!-- ******************** -->
				<div id="highchartsfigure"></div>
				  {% if ts_error %}
					    <p style="font-size:4;color:red;">
						The following error occurred:<br /><br />
						{{ ts_error }}
					    </p>
				 {% endif %}
			</div>
		</div>
	</div></div>
	<!-- ******************** -->
	<!--   CHART TYPE      -->
	<!-- ******************** -->
	<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">
				<!-- ******************** -->
				<!--   	CHART TYPE     -->
				<!-- ******************** -->
				<div style="display:none">
					<div id="cL_chartType" class="cL_interannual cl_intraannual cl_days">
					    <b>Set Chart Type:</b>
					    <select name="chartType" class="chartType" id="chartType">
					    {% for x,y in formChartType %}
						<option value="{{ x }}" {% if x == chartType  %} selected {% endif %}>{{ y }}</option>
					    {% endfor %}
					  </select> 
					</div>
				</div>
				<!-- ******************** -->
				<!--   	THRESHOLD     -->
				<!-- ******************** -->
				<div style="display:none">
					<div id="cL_threshold" class="cl_interannual">
					    <br />
					    <b>Choose Threshold(s):</b>
					    <input type="text" id="threshold" value="100" name="threshold" 
							class="threshold" size="7"><br>
					    <input style="display:none" type="text" id="threshold2" value="100" 
						name="threshold2" class="threshold" size="7"><br>
					</div>
				</div>
			 </div>
			<!-- ******************** -->
			<!--   	LAYERS         -->
			<!-- ******************** -->
			<div class="col-md-6">
				<div style="display:none">
					   <div id="cL_percentiles" class="cl_intraannual">
						    {% for x,y in formHighChartLayersIntraannual %}
							<input type="checkbox" name="{{ x }}" value="{{ x }}" id="{{ x }}">{{ y }}
							<br>
						    {% endfor %}
					</div>
					<div id="cL_average" class="cl_interannual cl_days">
					    <input type="checkbox" name="average" value="average" id="average">Average   
					</div>
					<div id="cL_range" class="cl_interannual cl_days">
					    <input type="checkbox" name="range" value="range" id="range" style="display:none">Range
					</div>
					<div id="cL_runmean" class="cl_interannual cl_days">
					    <input type="checkbox" name="runmean" value="runmean" id="runmean">
					    Running Mean over <div style="display:inline;">
					    <span id="runmeanYearText">
						<input type="text" name="runningMeanYears" class="runmean" id="runningMeanYears" value="{{ runningMeanYears}}" size="3">
						Years
					    </span>  
					    <span id="runmeanDaysText">
						<input type="text" name="runningMeanDays" class="runmean" id="runningMeanDays" value="{{ runningMeanDays}}" size="3">
						Days
					    </span>
					    </div>
					</div>
				</div>
			</div>
		</div>
</div></div>
</div></div>

