<!-- Modal -->
<div class="modal fade" id="tutorialModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabelTutorial" aria-hidden="true" data-reveal>
 <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <!-- **************** -->
        <!--     HEADER             -->
        <!-- **************** -->
        <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<h2 class="modal-title" id="myModalLabelTutorial" style="color:red">Tutorial (Under Construction)</h2>
		<p>With our drought tool, you can obtain either spatial maps or point time series for the chosen variables over the chosen time range.</p>
        </div>
        <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 img-portfolio">
			<h3>Spatial Maps: </h3>

		<br>
		On the map, you can use a double click to zoom. <br>
		Once a map overlay is visible, you can use a single click to get the value on the map at the location you click. 

			<h3>Time Series: </h3>
                    </div>
                </div>
       </div><!--modal-body-->
    </div><!--modal-content-->
  </div><!--modal-dialog-->
</div>
