<!-- Modal -->
<div class="modal fade" id="jsonParseErrorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabelShareLink" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!-- HEADER -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
                </button>
			<span style="color:red"><h3 class="modal-title" id="myModalLabeljsonParseError">Error</h3></span>
			<hr>
			<div class="row">
			<div class="col-md-12">
				 <span style="color:blue;font-size:20px">Error:</span> <br>
				<div class="panel panel-default">
				   <div class="panel-header panel-forms">
				   Could not parse the json file returned by request.
                   </div>
				</div>
				<!--
                <hr>
				 <span style="color:blue;font-size:20px">Cause(s)?</span> <br>
					<div class="panel panel-default">
					   <div class="panel-body panel-forms">
					    
                      </div>
					</div>
				<hr>
				 <span style="color:blue;font-size:20px">Resolution(s)?</span> <br>
					<div class="panel panel-default">
					   <div class="panel-body panel-forms">
						<li>Try your request again at another time</li>
					</div>
					</div>
                -->
			</div>
			</div>
            </div>
            <div class="modal-body">
            </div><!--modal-body-->
        </div><!--modal-content-->
    </div><!--modal-dialog-->
</div>
